{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "tests/Fixture",
            "vendor"
        ]
    },
    "mutators": {
        "@default": true
    },
    "timeout": 10,
    "logs": {
        "stryker": {
            "report": "/.*?/"
        },
        "text": "php:\/\/stderr",
        "github": true
    },
    "minMsi": 100,
    "minCoveredMsi": 100
}
